
img{
    max-width: 30rem;
    max-height: 20rem;
}
.cock{


    margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
width: 95%;
text-align: center;
max-height: calc(100vh - 24rem);
overflow: auto;
}

